.container{
	background-color: #FFFFFF;
	margin: 0 auto;
}
.wrapper{
	background-color: #33BEBE;
	color: #FFFFFF;
	font-weight: lighter;
	font-family: Calibri, sans-serif;
	width: 600px;
	height: 75px;
	font-size: 40px;
	
}
.wrapper p{
	padding: 15px;
	padding-top: 25px;
}
.footer{
	padding-top: 50px;
	display: flex;
	color: #7C8B88;
	width: 600px;
}
.footer img{
	height: 225px;
	width: 250px;
}
.footer p{
	padding-left: 30px;
	font-size: 20px;
	margin-top: 0;
}